main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width: 450px;
    height: 200px;
    border-radius: 10px;
    border: 3px solid var(--gray);
    padding: 30px;
}

.login-item {
    padding: 5px;
}

#email {
    right: 0;
    top: 0;
}