main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    min-width: 200px;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width: 25%;
    border-radius: 10px;
    border: 3px solid var(--gray);
    padding: 24px 40px;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 12px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label {
    margin: 0 0 10px 0;
}

button {
    background-color: var(--gray);
    color: whitesmoke;
    padding: 14px 10px;
    margin: 12px 0 0 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.goToIndex {
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: var(--gray);
    padding: 10px;
    border-radius: 10px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}