@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    --gray : #414145;
    --body_font: Quicksand;
}

body {
    font-family: var(--body_font);
    color: var(--gray);
}

header {
    display: flex;
}

.sky_image {
    background-image: url("/img/sky-bg.jpg");
    background-color: #cccccc;
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.company_name {
    grid-column: 2 / 9;
    grid-row: 2 / 4;
    object-fit: contain;

}

.company_name img {
    width: 60%;
    height: 60px;
}

nav {
    padding: 10px;
    grid-column: 9 / 13;
    grid-row: 2 / 3;
}

nav a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--gray);
}

a:hover {
    opacity: .6;
    text-decoration: underline;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    list-style-type: none;

}