@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background-color: aqua;
    font-family: Quicksand;
}

header {
    display: flex;
}

nav {
    background: grey;
    padding: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style-type: none;
}
